body{
    background-color:#606ff3;
    color: white;
}
hr{
    border-color:#009eb0;
    background-color:#009eb0;
    /* border-width: 3px; */
    border: 0;
    height: 3px;
}
tr:nth-child(even) {
    background-color: #9b8bf4;          
}
footer{
    color: rgb(255, 255, 255, 0.7);
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 92%;

}
table.calculator, tr.calculator, td.calculator{
    padding: 10px;
    text-align: center;
    border: 1px solid #029356;
}
.clock{
    background-image:url(/assets/img/clock.png);
    background-size: cover;
}
.guias{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;    /* todo esto no funcionó, estudiar porqué*/
    padding: 20px;
}